extends layout/layout.pug

block content
  .card-wrapper
       include includes/close.pug
  .club-wrapper
    .club-container
      .club-oval
      .club-title
        | AND Y CLUB
      .club-subtitle
        | AND Y club - программа лояльности позволяет накапливать баллы и оплачивать ими до 50% от покупки.  
        | Совершая покупку на определенную сумму, Вы накапливаете бонусы в соответствии с уровнем.
      .lavel-item
        .lavel-item_text
          .lavel-item_text-title
            | lavel 4
          .lavel-item_text-description  
            | Сумма всех покупок от 600₽ до 5 000₽
        .lavel-item_circle
          | 3% 

      .lavel-item
        .lavel-item_text
          .lavel-item_text-title
            | lavel 4
          .lavel-item_text-description  
            | Сумма всех покупок от 5 000₽ до 7 000₽
        .lavel-item_circle
          | 5% 

      .lavel-item
        .lavel-item_text
          .lavel-item_text-title
            | lavel 4
          .lavel-item_text-description  
            | Сумма всех покупок от 7 000₽ до 10 000₽
        .lavel-item_circle
          | 7% 

      .lavel-item
        .lavel-item_text
          .lavel-item_text-title
            | lavel 4
          .lavel-item_text-description  
            | Сумма всех покупок от 10 000₽
        .lavel-item_circle
          | 10% 

      .lavel-item
        .lavel-item_text
          .lavel-item_text-title
            | lavel 4
          .lavel-item_text-description  
            | Сумма всех покупок от 10 000₽
        .lavel-item_circle
          | 3%  

      .next-level
        | ПЕРЕХОД НА СЛЕДУЮЩИЙ  УРОВЕНЬ СКИДКИ ПРОИСХОДИТ АВТОМАТИЧЕСКИ ПРИ ДОСТИЖЕНИИ НЕОБХОДИМОГО УРОВНЯ НАКОПЛЕНИЙ .                     

      ul(class='card-ul')
        li Карта выдается бесплатно при покупке от 600 рублей  или можно приобрести за 100 рублей. 
        li Скидки и акции не суммируются с бонусами по карте лояльности.
        li Программа лояльности действует только в ресторане. 
      .present 
        | В течение 3 дней до и после дня рождения владелец 
        | карты получает сладкий подарок - коробку пончиков.
 
  include includes/footer.pug