extends layout/layout.pug

block append scripts 
  script(src="./src/js/gl.js" defer)
block content
  .index-wrapper
    canvas#backCanvas(width="200" height="200")
    main.main
      .main-header
        .main-container
          a.main-menu(href="./menu.pug")
            span.text
              | MENU
            span.hover
          a.main-club(href="./card.pug")
            | AND Y CLUB
      .main-logo
      .main-instagramm
        .main-instagramm__wrapper
          .main-instagramm__icon
          a(href="https://www.instagram.com/andy_food/").main-instagramm__link
            | instagram
        .main-instagramm__address
          | 344006, PUSHKINSKAYA 158/56, ROSTOV-ON-DON, RUSSIA
      include includes/footer.pug
    
