extends layout/layout.pug

block content
  .menu-wrapper 
    .menu-title
     | MENU
    .container-menu
      img.menu-img(src="./src/images/page1.svg")
      img.menu-img(src="./src/images/page2.svg")
      img.menu-img(src="./src/images/page3.svg")
    .close-wrapper
      include includes/close.pug