#backCanvas{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 9;
  filter:blur(7px);
}

.index-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.main {
  position: relative;
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-header {
  padding-top: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.main-menu {
  position: relative;
  text-decoration: none;


  .text {
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 216px;
    height: 120px;
    padding-top: 6px;
    text-align: center;
    border: 1px solid #2D2928;
    border-radius: 107px/61px;

    font-family: Formular;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2D2928;
  }

  .hover {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s;
    pointer-events: none;
    border-radius: 299px/162px;

    display: block;
    width: 592px;
    height: 325px;
    background: #1E30E3;
  }

  &:hover .hover {
    transform: translate(-50%, -50%) scale(1);
  }
}

.main-club {
  position: relative;
  padding-right: 120px;
  padding-top: 3px;

  color: #2D2928;
  font-family: Formular;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 11px;
    height: 18px;
    background: url('../images/arrow.svg') no-repeat center/contain;
  }
}

.main-logo {
  width: 668px;
  height: 169px;
  margin: auto;
  background: url('../images/logo.svg') no-repeat center/contain;
}

.main-instagramm {
  max-width: 1180px;
  padding: 0 10px 0 70px;
  width: 100%;
  margin: 0 auto;
}

.main-instagramm__wrapper {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.main-instagramm__icon {
  margin: 0;
  width: 26px;
  height: 26px;
  background: url('../images/instagram.svg') no-repeat center/contain;
}

.main-instagramm__link {
  padding-left: 10px;
  padding-top: 3px;
  font-family: Formular;
  font-size: 32px;
  line-height: 39px;
  color: #2D2928;
  text-decoration: none;
}

.main-instagramm__address {
  margin-top: 8px;
  color: #2D2928;
  font-family: Formular;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.footer {
  position: relative;
  z-index: 10;
  margin-top: auto;
  padding-bottom: 44px;
}

.marquee {
  // position: absolute;
  // bottom: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
    color: #2D2928;
 }

 .marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 90s linear infinite;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
 }

 .marquee span:hover {
  animation-play-state: paused
 }

 @keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
 }


@media (max-width: 768px) {
  .main-header {
    padding-top: 4vh;
  }

  .main-menu .text {
    width: 122px;
    height: 70px;

    font-size: 21px;
    line-height: 26px;
  }

  .main-menu .hover {
    display: none;
  }

  .main-club {
    padding-right: 9%;
    font-size: 21px;
    line-height: 26px;
    white-space: nowrap;

    &::after {
      top: 5px;
      right: 0;

      width: 10px;
      height: 17px;
    }
  }

  .main-logo {
    width: 310px;
    height: 76px;
    //margin: 16vh auto 16vh auto;
  }

  .main-instagramm {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-instagramm__link {
    //padding-left: 30px;
    font-size: 21px;
    line-height: 26px;
  }

  .main-instagramm__icon {
    width: 19px;
    height: 19px;

  }

  .main-instagramm__address {
    font-size: 16px;
    line-height: 180%;
  }

  .marquee span {
    font-size: 16px;
  }

  .footer {
    padding-bottom: calc(var(--vh, 1vh) * 4);
  }
}
