.menu-wrapper {
    display: flex;
    justify-content: flex-start;

    padding-bottom: 100px;
}
.container-menu {
    display: flex;
    flex-direction: column;
    margin-left: 9%;
}
.menu-title {
    margin-top: 106px;
    margin-left: 12%;
    font-family: Formular;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D2D2D2;
}
.menu-img {
    margin-top: 80px;
}

.close-wrapper {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    .menu-title {
        margin-left: 60px;
    }
}

@media (max-width: 1024px) {

    .close {
        top: 30px;
        right: 15px;
    }
    .menu-title {
        font-size: 21px;
        margin-top: 37px;
        margin-left: 20px;
    }
    .menu-img {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .container-menu {
        margin-left: 0;
    }

    .close {
        background: #ffffff;
    }

    .menu-wrapper {
        display: block;
    }
    .menu-title {
        margin-top: 43px;
        height: 30px;
        font-size: 22px;
    }
    .menu-img {
        width: 100%;
        min-height: auto;
        margin-left: 0px;
        margin-top: 30px;
    }

}
