.menu-wrapper {
    display: flex;
    justify-content: flex-start;
}
.menu-title {
    margin-top: 130px;
    margin-left: 230px;
    font-family: Formular;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D2D2D2;
}
.menu-img {
    margin-top: 80px;
    margin-left: 181px;
    width: 544px;
    min-height: 864px;
    
}