.footer
  .marquee
    span 
      | and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you... and life, and happiness, and style, and expression, and music, and taste, and feeling, and you...