.footer
  .marquee
    span 
      | Зарегистрируйтесь на сайте www.plazius.ru и отслеживайте покупки, бонусы и подарки в личном кабинете.  Зарегистрируйтесь на сайте www.plazius.ru и отслеживайте покупки, бонусы и подарки в личном кабинете.